.giphy-view-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.giphy-button {
  cursor: pointer;
  position: relative;
  background: #0000008c;
  color: white;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  &:focus {
    outline: 0;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .giphy-view-container {
    width: 23%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .giphy-view-container {
    width: 46%;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .giphy-view-container {
    width: 100%;
  }
}
