$color-border: #dcdcdc;
$color-title: #797979;
$transition-time: 0.2s;
$transition-function: ease;
$color-body: #f3f3f3;

html {
  transition: all $transition-time $transition-function;
  background: $color-body;
}

.dark-header {
  background: #000 !important;
  color: #fff !important;
  $transition-time: 0.5s;
}

.dark {
  background: #252525 !important;
  color: #fff !important;
  $transition-time: 0.5s;
}

.initial {
  display: flex;
  min-height: 100vh !important;
  transition: all $transition-time $transition-function;

  .search-header-title {
    > h1 {
      font-size: 60px;
      transition: all $transition-time $transition-function;
    }
    margin-top: auto;
    width: 100%;
  }

  .search-header-input {
    margin: auto;
    width: 50%;
  }

  .search-header-extra {
    margin-bottom: auto;
    width: 100%;
  }
}

.search-header {
  z-index: 100;
  background: #dcdcdc;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 1px solid $color-border;
  transition: all $transition-time $transition-function;

  &-title {
    > h1 {
      text-shadow: 1px 6px 10px rgba(32, 33, 36, 0.28);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      font-weight: 800;
      font-size: 36px;
      color: $color-title;
      transition: all $transition-time $transition-function;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $transition-time $transition-function;
  }

  &-input {
    margin: auto 10px auto 10px;
    transition: all $transition-time $transition-function;
  }

  &-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all $transition-time $transition-function;
  }
}

.search-result-body {
  display: flex;
  flex-wrap: wrap;
  background: $color-body;
  transition: all $transition-time $transition-function;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .search-header {
    min-height: 60px;

    &-title {
      width: 20%;
    }

    &-input {
      width: 60%;
    }

    &-extra {
      width: 15%;
    }
  }

  .search-result-body {
    margin-top: 90px;
  }
}

/* Tablet Styles */

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .search-header {
    min-height: 60px;
    &-title {
      width: 20%;
    }

    &-input {
      width: 50%;
    }

    &-extra {
      width: 25%;
    }
  }

  .search-result-body {
    margin-top: 90px;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .search-header {
    min-height: 100px;
    &-title {
      width: 100%;
    }

    &-input {
      width: 100%;
    }

    &-extra {
      width: 100%;
    }
  }

  .search-result-body {
    margin-top: 160px;
  }
}
