$height: 20px;
$width: 36px;
$before: 29px;

$color-border: #dcdcdc;
$color-title: #797979;

.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-div{
      margin: 10px 5px 10px 5px;
  }
}


.switch-toggle {
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 24px;
  margin-top: 0px;
}

.switch-toggle input {
  display: none;
}

.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #cbcbcb;
  background-color: #ffffff;
  border-radius: 8px;
  height: 16px;
  width: 54px;
}

.oval {
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: $before;
  width: $before;
  left: -3px;
  bottom: -6.5px;
  background-color: $color-title;
  box-sizing: border-box;
  border: 1px solid $color-title;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

input:checked + .slider-toggle:before {
  -webkit-transform: translateX($width);
  -ms-transform: translateX($width);
  transform: translateX($width);
}

/* Rounded slider-toggles */
.slider-toggle.round-toggle {
  border-radius: $height;
}

.slider-toggle.round-toggle:before {
  border-radius: 50%;
}
